<div ng-controller="View1Ctrl">
	<button  ng-click="openDialog('deleteButton')" style="float:right; margin-right:20px;">Delete Simulation</button>
	<button  ng-click="openDialog('clearAllButton')" style="float:right; margin-right:20px;">Clear All Properties</button> 	
	<general-property general-prop="generalProperty" description="{{generalProperty.description}}"></general-property>
	<hr>
	<method-property></method-property>
	
	<!-- Displaying data from inputs above to showcase two-way data-binding-->
	<hr style="height:1px;border:none;color:#333;background-color:#333;" />
	
	<h3>Below are the variables that are located in the Controller. Notice the real time update </h3> 
	<p>Simulation Name: {{generalProperty.name}}</p>
	<p>Simulation Method: {{generalProperty.method}}</p>
	<p>Simulation Description (no real time update): {{generalProperty.description}}</p>
	<p>InstrumentSelectionPortfolio: {{methodProperty.instrument.portfolio}}
	<br>
	Third Level Nesting: {{ thirdLvl}}
	</p>
	isDeleteSimDialogOpen: {{deleteButton.isOpen}}
	<br>
	<r2-dialog 
		title="Delete Simulation"                
		open="{{deleteButton.isOpen}}" 
		ok-button="OK"
		ok-callback="deleteButton.onOkCallback"
		cancel-button="Cancel"
		cancel-callback="deleteButton.onCloseCallback"
		width="300">
		Message: ({{deleteButton.deleteSimDialogMessage}})
	</r2dialog> 
	
	<r2-dialog 
		title="Clear All Simulation"                
		open="{{clearAllButton.isOpen}}" 
		ok-button="OK"
		ok-callback="clearAllButton.onOkCallback"
		cancel-button="Cancel"
		cancel-callback="clearAllButton.onCloseCallback"
		width="300">
		Message: ({{clearAllButton.clearSimDialogMessage}})
	</r2dialog>
</div>